@using Microsoft.Extensions.AI
@using MudX

@if (IsUser)
{
    <MudXChat ChatPosition="@ChatPosition" Variant="Variant.Text" Elevation="0">
        <MudXChatHeader Time="@TimeText"/>
        <MudXChatBubble Class="max-w-2xl">
            @MessageText
        </MudXChatBubble>
    </MudXChat>
}
else
{
    <div class="flex w-full items-start gap-3 mb-4">
        <MudAvatar Size="Size.Medium" Variant="Variant.Filled">AI</MudAvatar>
        <div class="max-w-4xl">
            <MudMarkdown Value="@MessageText"/>
        </div>
    </div>
}

@code {
    [Parameter] public ChatHistoryMessage Message { get; set; } = null!;

    private bool IsUser => Message.Message.Role == ChatRole.User;
    private string TimeText => Message.CreatedAt.ToLocalTime().ToString("HH:mm");
    private MudX.ChatBubblePosition ChatPosition => IsUser ? MudX.ChatBubblePosition.End : MudX.ChatBubblePosition.Start;

    private string MessageText
    {
        get
        {
            var chatMessage = Message.Message;
            if (chatMessage.Contents.Count <= 0)
                return chatMessage.Text;

            var text = string.Concat(chatMessage.Contents.OfType<TextContent>().Select(x => x.Text));
            return !string.IsNullOrWhiteSpace(text) ? text : chatMessage.Text;
        }
    }

}
