@using Microsoft.Extensions.AI
<div class="p-3">
    <MudTextField @bind-Value="_messageText"
                  Placeholder="Ask me anything..."
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.Send"
                  OnAdornmentClick="@SendMessage"
                  OnKeyDown="@HandleKeyDown"
                  Immediate="true"
                  Class="grow"
                  Lines="1"
                  Disabled="_isSending"/>
</div>

@code {
    [Parameter] public EventCallback<ChatMessage> OnSendMessage { get; set; }
    private bool _isSending;

    private string _messageText = string.Empty;

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(_messageText))
            return;
        _isSending = true;

        try
        {
            await OnSendMessage.InvokeAsync(new ChatMessage(ChatRole.User, _messageText));

            _messageText = string.Empty;
        }
        finally
        {
            _isSending = false;
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

}
